body {
	font-family: 'Comic Sans MS';
		  background-color: #F7F3F8;
	  }

.fontello{
  font-family: 'fontello'
}

	  input[type='button'] {
		  border-radius: 0.3em;
		  cursor: pointer;
	  }

	  input[type='submit'] {
		  border-radius: 0.3em;
		  cursor: pointer;
	  }

	  #buttons {
		  background-color: #F7F3F8;
		  border: none;
		  color: white;
		  padding: 15px 30px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
	  }

	  img {
		  border-radius: 1em;
		  width: 300px;
	  }

	  a {
		  text-decoration: none;
	  }

	  a:hover {
		  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
		  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		  transition: all 0.4s ease 0s;
	  }

	  input[type='submit']:hover {
		  background: rgb(96, 236, 96);
		  letter-spacing: 1px;
		  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
		  transition: all 0.4s ease 0s;
	  }

	  input[type='button']:hover {
		  background: rgb(98, 253, 124);
		  letter-spacing: 1px;
		  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
		  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
		  transition: all 0.4s ease 0s;
	  }

  body{
margin: 0;
padding: 0;
font-family: "Montserrat";
}
.searchbox{
width: 90%;
margin: 10px auto;
}
.header{
background: #ECDFBF;
overflow: hidden;
padding: 20px;
text-align: center;
}
.header h1{
text-transform: uppercase;
color: white;
margin: 0;
margin-bottom: 8px;
}
#value{
border: none;
background: #E0D3B6;
padding: 6px;
font-size: 18px;
width: 80%;
border-radius: 6px;
color: white;
}
#value:focus{
outline: none;
}
.container{
background: #FFFFF5;
padding: 1%;
}
.item{
margin: 3% 0px;
display: flex;
align-items: center;
}
.icon{
width: 25px;
height: 25px;
background: #E0D3B6;
color: white;
font-size: 15px;
text-align: center;
line-height: 25px;
border-radius: 50%;
margin-right: 8px;
}
.name{
font-size: 17px;
font-weight: 470;
color: #333;
}